<html lang="en">
<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <style>
        .errors {
            color: red;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <b>Reset Password</b><br><br>

    <!-- Display error and success messages -->
    {% if messages %}
        <div class="errors">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'reset_password' %}">
        {% csrf_token %}
        <table border="0">
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Send Reset Link">
    </form>

</body>
</html>
