<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
    <p>Someone (hopefully you) requested we reset your password for {{ username }}.</p>
    <p>Your password has not yet been changed. If you want to change it, please visit the following link:</p>
    <a href="{{ reset_link }}">Reset Password</a>
    <p>If not, just ignore this message.</p>
</body>
</html>
