{% load static %}

<meta charset="UTF-8">
<meta name="description"
      content="Wisesellers">
<meta name="keywords"
      content="Wisesellers">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Pragma" content="no-cache">

{# Opengraph metadata #}

<meta property="og:title" content="Wisesellers"/>
<meta property="og:description" content="Wisesellers"/>
<meta property="og:type" content="website"/>
<!-- <meta property="og:url" content=""/>
<meta property="og:site_name" content=""/> -->
<!-- <meta property="og:image" content=""/> -->

{# Twittercards metadata #}

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="Wisesellers">
<meta name="twitter:description" content="Wisesellers"/>
<!-- <meta name="twitter:image" content=""> -->
<!-- <meta name="twitter:site" content=""> -->
<!-- <meta name="twitter:creator" content=""> -->
